@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
    --primary: #efb6b2;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
}

/* base styles & title */
body {
    font-family: 'Noto Serif';
    color: var(--secondary);
}
.App {
    max-width: 960px;
    margin: 0 auto;
}
.title h1 {
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: normal;
}
.title h2,
.title p {
    text-align: center;
}
.title h2 {
    margin-top: 60px;
    font-size: 2.6rem;
}

.img-grid {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.img-wrap {
    overflow: hidden;
    cursor: pointer;
    height: 0;
    padding: 70% 0;
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative;
    opacity: 0.8;
}

.img-wrap img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* modal styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.backdrop img {
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    border-radius: 5px;
    margin-bottom: -5%;
}

.modal-content {
    padding-top: -9px;
    padding-bottom: 5px;
    display: block;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(53, 172, 172);
    max-width: 60%;
    margin: 60px auto;
    text-align: center;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
